<launch>
    <arg name="bag_filename" default="/home/ubuntu/dataset/cafe/vins_cafe1-2.bag"/>

    <node type="lvio_2d_node" pkg="lvio_2d" name="lvio_2d_node"  output="screen" >
        <rosparam file="$(find lvio_2d)/config/cafe.yaml" command="load"/> 
    </node>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find lvio_2d)/launch/display.rviz" />
    <node name="playbag" pkg="rosbag" type="play"
    args="--clock $(arg bag_filename)" />
</launch>